@tailwind base;
@tailwind components;
@tailwind utilities;


.text-border{
    -webkit-text-stroke: 1px rgb(132, 125, 125)
}
.text-border-white{
    -webkit-text-stroke: 1px white
}
.rounded-full-css {
  clip-path:ellipse(60% 100% at 50% -10%)
}


  
.paused{
  animation-play-state: paused;
}
/* button */

.cssbuttons-io-button {
  background: #F2FD01; /* Button background */
  color: black; /* Text color */
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: 
    0 0 1em 0 rgba(0, 0, 0, 0.5), /* Inner shadow */
    0 0 20px 2px #F2FD01; /* Outer shadow */
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: black; /* Icon background */
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #F2FD01; /* Icon shadow */
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #F2FD01; /* Icon color */
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


  